# Pasme psov

## Analiza podatkov s pandas

### Naložimo pandas in podatke

In [1]:
import pandas as pd
import os.path

#naj se izpiše le 10 vrstic
pd.options.display.max_rows = 10

# interaktivni notebook stil risanja
%matplotlib notebook

# razpredelnica, s katero bomo delali
pot_do_csv = os.path.join("kuzki", "tabela.csv")
kuziji = pd.read_csv(pot_do_csv)

In [2]:
kuziji

,name,breed_group,adaptability,friendliness,health_and_needs,trainability,physical_needs,height_od,height_do,weight_od,weight_do,life_od,life_do
0,afador,Mixed Breed Dogs,2,3,3,4,4,50.0,73.0,22.0,34.0,10,12
1,affenhuahua,Mixed Breed Dogs,3,3,3,3,3,15.0,30.0,1.0,5.0,13,18
2,affenpinscher,Companion Dogs,3,3,2,3,4,22.0,27.0,3.0,4.0,12,14
3,afghan-hound,Hound Dogs,4,4,2,3,4,60.0,66.0,22.0,27.0,10,12
4,airedale-terrier,Terrier Dogs,2,4,3,5,5,53.0,58.0,18.0,29.0,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,whoodle,Mixed Breed Dogs,3,4,3,2,4,30.0,50.0,9.0,20.0,12,15
377,wirehaired-pointing-griffon,Sporting Dogs,3,5,3,4,4,50.0,60.0,22.0,27.0,10,14
378,xoloitzuintli,Companion Dogs,3,3,3,4,3,NaN,NaN,4.0,22.0,14,20
379,yorkipoo,Hybrid Dogs,4,4,2,4,4,17.0,38.0,1.0,6.0,10,15
380,yorkshire-terrier,Companion Dogs,3,3,2,3,5,20.0,22.0,1.0,2.0,12,15

### Preučevanje podatkov

In [3]:
kuziji_po_skupinah = kuziji.groupby("breed_group")

In [4]:
kuziji_po_skupinah.count()

,name,adaptability,friendliness,health_and_needs,trainability,physical_needs,height_od,height_do,weight_od,weight_do,life_od,life_do
breed_group,,,,,,,,,,,,
Companion Dogs,43,43,43,43,43,43,41,41,43,43,43,43
Herding Dogs,38,38,38,38,38,38,35,35,37,37,38,38
Hound Dogs,41,41,41,41,41,41,40,40,38,38,41,41
Hybrid Dogs,14,14,14,14,14,14,14,14,14,14,14,14
Mixed Breed Dogs,123,123,123,123,123,123,122,122,122,122,123,123
Sporting Dogs,40,40,40,40,40,40,21,21,40,40,40,40
Terrier Dogs,31,31,31,31,31,31,31,31,30,30,31,31
Working Dogs,51,51,51,51,51,51,40,40,51,51,51,51

Poglejmo povprečje za vsako skupino.

In [5]:
kuziji_po_skupinah.mean()

,adaptability,friendliness,health_and_needs,trainability,physical_needs,height_od,height_do,weight_od,weight_do,life_od,life_do
breed_group,,,,,,,,,,,
Companion Dogs,3.255814,3.976744,2.697674,3.255814,3.651163,27.463415,35.317073,6.302326,10.860465,11.674419,14.930233
Herding Dogs,3.210526,3.894737,2.947368,3.552632,4.236842,44.342857,52.857143,17.135135,25.702703,11.342105,14.105263
Hound Dogs,3.000000,4.268293,3.195122,3.707317,4.073171,48.525000,58.225000,18.552632,28.894737,10.926829,13.512195
Hybrid Dogs,3.500000,4.214286,2.785714,3.214286,3.785714,38.142857,52.428571,13.500000,28.071429,10.714286,14.500000
Mixed Breed Dogs,3.000000,3.853659,3.097561,3.333333,4.008130,34.614754,50.122951,13.418033,25.778689,10.780488,14.341463
Sporting Dogs,3.100000,4.275000,3.075000,3.775000,4.375000,49.095238,57.714286,19.425000,27.950000,10.900000,13.775000
Terrier Dogs,3.193548,4.161290,2.806452,3.645161,4.322581,32.129032,36.451613,8.266667,12.666667,11.709677,14.935484
Working Dogs,2.745098,3.607843,3.392157,3.254902,3.823529,55.175000,68.225000,31.450980,51.156863,9.960784,12.784314

In [6]:
kuziji.plot.scatter("health_and_needs", "life_do")
#to bols da spremenim

Vidimo, da je najvišja dosežena starost 20. Poglejmo katera vrsta je to.

In [7]:
kuziji[(kuziji["life_do"] == 20)]

,name,breed_group,adaptability,friendliness,health_and_needs,trainability,physical_needs,height_od,height_do,weight_od,weight_do,life_od,life_do
119,chi-chi,Mixed Breed Dogs,3,3,3,3,4,12.0,30.0,1.0,4.0,11,20
342,silken-windhound,Hound Dogs,4,4,3,4,4,45.0,45.0,9.0,24.0,14,20
378,xoloitzuintli,Companion Dogs,3,3,3,4,3,NaN,NaN,4.0,22.0,14,20

In [8]:
#analiza

## Poglejmo višino

In [9]:
kuziji.sort_values(['height_do', 'height_od'], ascending=[False, False])

,name,breed_group,adaptability,friendliness,health_and_needs,trainability,physical_needs,height_od,height_do,weight_od,weight_do,life_od,life_do
265,mastador,Mixed Breed Dogs,3,4,4,3,4,71.0,91.0,38.0,72.0,10,12
226,irish-wolfhound,Hound Dogs,2,5,3,3,3,81.0,88.0,52.0,81.0,6,8
348,spanish-mastiff,Working Dogs,3,3,3,2,3,66.0,88.0,63.0,99.0,10,12
5,akbash,Working Dogs,3,4,4,3,2,68.0,86.0,34.0,63.0,10,12
206,great-dane,Working Dogs,2,5,4,3,5,66.0,86.0,45.0,90.0,7,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,standard-schnauzer,Working Dogs,3,3,2,4,5,NaN,NaN,13.0,22.0,13,16
355,sussex-spaniel,Sporting Dogs,4,5,3,3,2,NaN,NaN,15.0,20.0,11,14
357,swedish-vallhund,Herding Dogs,3,4,4,3,5,NaN,NaN,9.0,15.0,12,15
361,tibetan-mastiff,Working Dogs,3,4,3,3,3,NaN,NaN,34.0,72.0,10,14
378,xoloitzuintli,Companion Dogs,3,3,3,4,3,NaN,NaN,4.0,22.0,14,20

In [10]:
#ali je višina kaj odvisna od skupine, v kateri je

In [33]:
kuziji[kuziji['friendliness'] < 3]

,name,breed_group,adaptability,friendliness,health_and_needs,trainability,physical_needs,height_od,height_do,weight_od,weight_do,life_od,life_do
6,akita,Working Dogs,3,2,4,4,4,NaN,NaN,31.0,58.0,10,12
7,akita-chow,Mixed Breed Dogs,3,1,3,3,4,58.0,63.0,39.0,65.0,10,12
22,anatolian-shepherd-dog,Working Dogs,3,2,3,3,3,NaN,NaN,36.0,68.0,11,13
94,bull-pei,Mixed Breed Dogs,2,2,4,2,2,40.0,45.0,15.0,29.0,9,11
125,chinese-shar-pei,Working Dogs,3,2,3,3,2,45.0,50.0,18.0,24.0,8,12
131,chow-chow,Working Dogs,3,1,3,2,2,43.0,50.0,18.0,31.0,12,15
175,fila-brasileiro,Working Dogs,2,2,4,3,4,60.0,76.0,40.0,81.0,9,12
242,kooikerhondje,Sporting Dogs,3,2,3,3,5,35.0,40.0,9.0,11.0,12,14
243,kuvasz,Working Dogs,3,2,4,2,4,66.0,76.0,31.0,52.0,10,12

## Teža

In [11]:
kuziji.sort_values(['weight_do', 'weight_od'], ascending=[False, False])

,name,breed_group,adaptability,friendliness,health_and_needs,trainability,physical_needs,height_od,height_do,weight_od,weight_do,life_od,life_do
348,spanish-mastiff,Working Dogs,3,3,3,2,3,66.0,88.0,63.0,99.0,10,12
266,mastiff,Working Dogs,2,4,4,2,4,68.0,81.0,58.0,99.0,6,10
108,caucasian-shepherd-dog,Working Dogs,3,3,4,3,3,60.0,86.0,36.0,99.0,10,12
312,pyrenean-mastiff,Working Dogs,3,3,4,3,4,60.0,78.0,58.0,90.0,10,13
272,neapolitan-mastiff,Working Dogs,2,3,4,2,3,60.0,78.0,54.0,90.0,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,mutt,Mixed Breed Dogs,3,3,3,3,3,NaN,NaN,NaN,NaN,8,15
277,norwegian-elkhound,Hound Dogs,4,4,3,4,4,48.0,50.0,NaN,NaN,12,15
281,old-english-sheepdog,Herding Dogs,4,4,3,3,4,53.0,53.0,NaN,NaN,10,12
282,otterhound,Hound Dogs,3,5,3,4,5,60.0,68.0,NaN,NaN,10,12
314,rat-terrier,Terrier Dogs,3,4,3,4,5,33.0,40.0,NaN,NaN,13,18

## Življenje... strarost

In [12]:
kuziji.sort_values(['life_do', 'life_od'], ascending=[False, False])

,name,breed_group,adaptability,friendliness,health_and_needs,trainability,physical_needs,height_od,height_do,weight_od,weight_do,life_od,life_do
342,silken-windhound,Hound Dogs,4,4,3,4,4,45.0,45.0,9.0,24.0,14,20
378,xoloitzuintli,Companion Dogs,3,3,3,4,3,NaN,NaN,4.0,22.0,14,20
119,chi-chi,Mixed Breed Dogs,3,3,3,3,4,12.0,30.0,1.0,4.0,11,20
1,affenhuahua,Mixed Breed Dogs,3,3,3,3,3,15.0,30.0,1.0,5.0,13,18
229,jack-chi,Mixed Breed Dogs,3,4,3,3,4,30.0,38.0,3.0,8.0,13,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,great-dane,Working Dogs,2,5,4,3,5,66.0,86.0,45.0,90.0,7,10
55,bernese-mountain-dog,Working Dogs,2,5,4,4,4,58.0,71.0,31.0,52.0,6,10
266,mastiff,Working Dogs,2,4,4,2,4,68.0,81.0,58.0,99.0,6,10
208,greater-swiss-mountain-dog,Working Dogs,3,5,3,3,4,58.0,71.0,38.0,63.0,7,9
226,irish-wolfhound,Hound Dogs,2,5,3,3,3,81.0,88.0,52.0,81.0,6,8

Ali lahko življensko dobo psa prb ocenimo že, če vemo kateri skupini pripada?

In [13]:
#najprej tabela brez ostalih podatkov ki jih ne bomo potrebovali

In [14]:
kuziji_life = kuziji[['name', 'breed_group', 'life_od', 'life_do']].copy()
kuziji_life.sort_values(['life_do', 'life_od'], ascending=[False, False])

                           name       breed_group  life_od  life_do
342            silken-windhound        Hound Dogs       14       20
378               xoloitzuintli    Companion Dogs       14       20
119                     chi-chi  Mixed Breed Dogs       11       20
1                   affenhuahua  Mixed Breed Dogs       13       18
229                    jack-chi  Mixed Breed Dogs       13       18
..                          ...               ...      ...      ...
206                  great-dane      Working Dogs        7       10
55         bernese-mountain-dog      Working Dogs        6       10
266                     mastiff      Working Dogs        6       10
208  greater-swiss-mountain-dog      Working Dogs        7        9
226             irish-wolfhound        Hound Dogs        6        8

[381 rows x 4 columns]

Poglejmo povrečje za vsako skupino.

In [21]:
t = kuziji_po_skupinah[['life_od', 'life_do']].mean().sort_values(['life_do', 'life_od'], ascending=[False, False])
t['life_povprecje'] = (t.life_od + t.life_do) /2
t

                    life_od    life_do  life_povprecje
breed_group
Terrier Dogs      11.709677  14.935484       13.322581
Companion Dogs    11.674419  14.930233       13.302326
Hybrid Dogs       10.714286  14.500000       12.607143
Mixed Breed Dogs  10.780488  14.341463       12.560976
Herding Dogs      11.342105  14.105263       12.723684
Sporting Dogs     10.900000  13.775000       12.337500
Hound Dogs        10.926829  13.512195       12.219512
Working Dogs       9.960784  12.784314       11.372549

Vidimo, da je pričakovana povprečna življenska doba na skupino dokaj nizka, čeprav nekateri psi lahko dosežejo starost tudi do dvajset let oz. 140 v pasjih letih. Podatki se med seboj skoraj ne razlikujejo. če gledamo povrečno starost glede na skupino, nam ta ne da dobrega odgovora. Do rahlega odstopanja pridejo le working dog. Poglejmo, če lahko napovemo vsaj zanje.

In [18]:
#najprej se povprecje med life od in do

In [29]:
kuziji[kuziji['breed_group'] == 'Working Dogs'].sort_values(['life_do', 'life_od'], ascending=[False, False])

,name,breed_group,adaptability,friendliness,health_and_needs,trainability,physical_needs,height_od,height_do,weight_od,weight_do,life_od,life_do
59,black-mouth-cur,Working Dogs,3,4,3,4,4,40.0,63.0,18.0,43.0,12,18
354,standard-schnauzer,Working Dogs,3,3,2,4,5,NaN,NaN,13.0,22.0,13,16
62,blue-lacy,Working Dogs,3,3,3,5,5,43.0,63.0,11.0,22.0,12,16
12,american-bulldog,Working Dogs,2,3,3,3,4,50.0,71.0,27.0,54.0,10,16
11,alaskan-malamute,Working Dogs,2,4,3,4,5,NaN,NaN,34.0,45.0,12,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,saint-bernard,Working Dogs,3,5,4,2,3,NaN,NaN,54.0,81.0,8,10
206,great-dane,Working Dogs,2,5,4,3,5,66.0,86.0,45.0,90.0,7,10
55,bernese-mountain-dog,Working Dogs,2,5,4,4,4,58.0,71.0,31.0,52.0,6,10
266,mastiff,Working Dogs,2,4,4,2,4,68.0,81.0,58.0,99.0,6,10
208,greater-swiss-mountain-dog,Working Dogs,3,5,3,3,4,58.0,71.0,38.0,63.0,7,9

še vedno jih je kar nekaj, ki imajo life_do vecji od 12.
Poglejmo še koliko pa je dejansko takih za katere bi veljala ocena iz skupine.

In [ ]:
#mogoce bi tuki namesto 13 in 9 dala raje priblizek iz tabele

In [30]:
kuziji[(kuziji['breed_group'] == 'Working Dogs') & (kuziji['life_do'] < 13) & (kuziji['life_od'] > 9)]

,name,breed_group,adaptability,friendliness,health_and_needs,trainability,physical_needs,height_od,height_do,weight_od,weight_do,life_od,life_do
5,akbash,Working Dogs,3,4,4,3,2,68.0,86.0,34.0,63.0,10,12
6,akita,Working Dogs,3,2,4,4,4,NaN,NaN,31.0,58.0,10,12
60,black-russian-terrier,Working Dogs,3,3,3,3,4,66.0,71.0,36.0,63.0,10,11
65,boerboel,Working Dogs,2,3,4,3,4,55.0,71.0,49.0,90.0,10,12
82,boxer,Working Dogs,3,4,3,3,5,53.0,63.0,27.0,31.0,10,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,komondor,Working Dogs,3,3,3,4,3,63.0,68.0,36.0,45.0,10,12
243,kuvasz,Working Dogs,3,2,4,2,4,66.0,76.0,31.0,52.0,10,12
257,leonberger,Working Dogs,2,4,4,3,4,63.0,78.0,54.0,77.0,10,12
278,norwegian-lundehund,Working Dogs,3,5,3,3,5,NaN,NaN,5.0,7.0,10,12
348,spanish-mastiff,Working Dogs,3,3,3,2,3,66.0,88.0,63.0,99.0,10,12

In [31]:
koliksen_delez = 14 * 100 / 51
koliksen_delez

27.45098039215686

In [ ]:
#mogoce tut to bols ad z izracunanimi ciframi
# ali pa zajamem vecji range(tisti ki se razlikujejo za manj kot 1, manj kot 2...)

Le dobrih 27 % je takih, ki dejansko ustreza oceni povprečni oceni iz tabele.
Izkaže se, da starosti ne moremo napovedati, če vemo samo kateri skupini pripada.